[package]
name = "gnome-search-providers-jetbrains"
description = "Gnome search providers for recent projects from Jetbrains IDEs"
readme = "README.md"
homepage = "https://github.com/lunaryorn/gnome-search-providers-jetbrains"
repository = "https://github.com/lunaryorn/gnome-search-providers-jetbrains"
version = "1.5.0"
license = "MPL-2.0"
authors = ["Sebastian Wiesner <sebastian@swsnr.de>"]
edition = "2018"
# We don't publish this to crates.io; you can't install it with cargo install
# because you'd miss the required service and configuration files, and you
# wouldn't want to depend on it either.
publish = false

[dependencies]
gio = "^0.14"
globwalk = "^0.8"
regex = "^1.5"
lazy_static = "^1.4"
dirs = "^3.0"
elementtree = "^0.5"
anyhow = "^1.0"
slog = { version = "^2.7", features = ["release_max_level_debug"] }
slog-stdlog = "^4.1"
slog-scope = "^4.4"
# Only to set the maximum compiled level for the standard logging crate
log = { version = "*", features = ["release_max_level_debug"] }
clap = { version = "^2.33", default-features = false }
gnome-search-provider-common = { path = "./crates/common" }

[dev-dependencies]
pretty_assertions = "^0.7"
rust-ini = "^0.17"

[workspace]
members = ["./crates/common"]
