[Unit]
Description=Jetbrains projects search provider for Gnome shell

[Service]
Type=dbus
BusName=de.swsnr.searchprovider.Jetbrains
ExecStart=/usr/lib/gnome-search-providers-jetbrains/gnome-search-providers-jetbrains
