[Unit]
Description=Jetbrains projects search provider for Gnome shell

[Service]
Type=dbus
BusName=de.swsnr.searchprovider.Jetbrains
ExecStart=gnome-search-providers-jetbrains
