[Unit]
Description=Jetbrains projects search provider for Gnome shell

[Service]
Type=dbus
BusName=de.swsnr.searchprovider.Jetbrains
ExecStart=gnome-search-providers-jetbrains
ExecReload=busctl --user call de.swsnr.searchprovider.Jetbrains / de.swsnr.searchprovider.SearchProviders RefreshAll
