[D-BUS Service]
Name=de.swsnr.searchprovider.Jetbrains
Exec={LIBEXECDIR}/gnome-search-providers-jetbrains
SystemdService=de.swsnr.searchprovider.Jetbrains.service
