[D-BUS Service]
Name=de.swsnr.searchprovider.Jetbrains
Exec={PREFIX}/lib/gnome-search-providers-jetbrains/gnome-search-providers-jetbrains
SystemdService=de.swsnr.searchprovider.Jetbrains.service
